.analysis-container {
    font-family: 'Courier New', Courier, monospace;
    background-color: #D8DEDF;
    padding: 15px;
    border-radius: 10px;
    margin-top: 150px;
    margin-bottom: 110px;
}

.analysis-container-extra
{
    font-family: 'Courier New', Courier, monospace;
    background-color: #D8DEDF;
    padding: 15px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.analysis-title {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
}

.analysis-text {
    font-size: 15px;
    font-weight: medium;
    color: #000A0C;
}